torch
torch == 2.5
torch >= 2.5
torch ~= 2.5

typer==0.15.1
fastapi==0.115.8
uvicorn==0.34.0
matplotlib==3.10.0
scikit-learn==1.6.0
invoke==2.2.0
loguru==0.7.3
wandb==0.19.2
plotly==5.24.1
coverage==7.6.10
torchvision